<div class="main-content">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12">
          <div class="card shadow-prod border-0">
            <div class="card-body">
            <div class="row justify-content-center mb-2">
                <h3 style="color: #000">Mis Aplicaciones</h3>
            </div>
    
            <div class="row justify-content-center mb-2">
            <div class="col-sm-4">
                <div class="box-app">
                    <span class="categoria"></span>
                    <div class="box-app-content">
                        <div class="img">
                            <img alt="archivo">
                        </div>
                        <span class="nombre"></span>
                        <span class="descripcion"></span>
                    </div>
                    <div class="box-view">
                      <a rel="tooltip" data-placement="bottom" title="Ir a aplicación">
                        <button >Ver Aplicación <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                      </a>
                    </div>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  