<section class="seccion-procedimientos">
  <div class="container"><br><br>
    <h2 class="" align="center">Aplicaciones Móviles</h2>
    <div class="row">
      <div *ngFor="let opcion of listaOpciones" class="col-sm-4 col-md-4">
        <div class="form-group">
          <a [routerLink]="['/apps-moviles']">
            <div class="card">
              <img class="img-responsive" [src]="'assets/' + (opcion.imagen)">
              <div class="caption">
                <h1 align="center">{{(opcion.nombre)}}</h1>
                <p>{{(opcion.descripcion)}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- <div class="col-sm-4 col-md-4">
        <div class="form-group">
          <a [routerLink]="['/apps-moviles']">
            <div class="card">
              <img class="img-responsive" src="assets/img/APP/sos_pesca.jpg">
              <div class="caption">
                <h1 align="center">SOS PESCA</h1>
                <p>Permite al ciudadano registrar la denuncia geolocalizadas de varios eventos con videos y fotografías
                  de un acto que contraviene la normatividad pesquera vigente.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="form-group">
          <a [routerLink]="['/apps-moviles']">
            <div class="card">
              <img class="img-responsive" src="assets/img/APP/marpez.jpg">
              <div class="caption">
                <h1 align="center">MARPEZ</h1>
                <p>Aplicativo móvil que contiene un calendario de vedas, tallas mínimas de pescados, recetas nutritivas,
                  consejos y tips saludables, restaurantes y la posibilidad de dar alertas a fin de cuidar nuestros
                  recursos.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="form-group">
          <a [routerLink]="['/apps-moviles']">
            <div class="card">
              <img class="img-responsive" src="assets/img/APP/pesaca_y_consumo_responsable.jpg">
              <div class="caption">
                <h1 align="center">PESCA Y CONSUMO<br> RESPONSABLE</h1>
                <p><br>Aplicación móvil que permite registrar las faenas pesqueras en el litoral peruano.</p>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
    <div class="container">
      <div class="col-md-12 text-right">
        <a class="btn btn-outline-danger" tabindex="-1" role="button" [routerLink]="['/apps-moviles']">Ver todas las
          aplicaciones<span aria-hidden="true"> &rarr;</span></a>
      </div>
    </div>
  </div>
</section>
<!--/*End APP*/-->