<form [formGroup]="myForm" autocomplete="off">
  <div id="step-1" class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="custom-control custom-checkbox mb-3">
          <input
            class="custom-control-input"
            type="checkbox"
            id="enableRuc"
            formControlName="enableRuc"
          />
          <label class="custom-control-label" for="enableRuc"> Tengo RUC</label>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="myForm.get('enableRuc')?.value">
        <div class="form-group">
          <label class="form-control-label" for="documentNumber"> RUC </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('rucNumber') ? ' is-invalid' : ''"
            [maxlength]="rucNumberLength"
            type="text"
            id="rucNumber"
            placeholder="Ej.: 10449332517"
            formControlName="rucNumber"
            appOnlyNumbers
          />

          <div
            *ngIf="myForm.get('rucNumber')?.errors?.required"
            class="invalid-feedback"
          >
            Es un campo requerido.
          </div>
          <div
            *ngIf="
              !myForm.get('rucNumber')?.errors?.required &&
              myForm.get('rucNumber')?.errors?.minlength
            "
            class="invalid-feedback"
          >
            El número de documento debe tener
            {{ rucNumberLength }} dígitos.
          </div>
          <div
            *ngIf="
              !myForm.get('rucNumber')?.errors?.required &&
              !myForm.get('rucNumber')?.errors?.minlength &&
              myForm.get('rucNumber')?.errors?.startsWith
            "
            class="invalid-feedback"
          >
            El número de RUC debe iniciar con 10.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label class="form-control-label" for="chMes">
            Tipo de documento
          </label>

          <select
            class="form-control"
            [ngClass]="isInvalidField('documentType') ? ' is-invalid' : ''"
            id="documentType"
            formControlName="documentType"
            [attr.disabled]="showRucNumberField ? true : null"
          >
            <option value="0">Seleccione</option>

            <option *ngFor="let docType of docTypes" [value]="docType.key">
              {{ docType.value }}
            </option>
          </select>
          <div *ngIf="isInvalidField('documentType')" class="invalid-feedback">
            Debe seleccionar un tipo de documento.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label class="form-control-label" for="documentNumber">
            Número de documento
          </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('documentNumber') ? ' is-invalid' : ''"
            [maxlength]="documentNumberLength"
            type="text"
            id="documentNumber"
            placeholder="Ej.: 15234687"
            formControlName="documentNumber"
            appOnlyNumbers
            [attr.disabled]="
              showRucNumberField || myForm.get('documentType')?.value == 0
                ? true
                : null
            "
          />

          <div
            *ngIf="myForm.get('documentNumber')?.errors?.required"
            class="invalid-feedback"
          >
            Es un campo requerido.
          </div>
          <div
            *ngIf="
              !myForm.get('documentNumber')?.errors?.required &&
              myForm.get('documentNumber')?.errors?.minlength
            "
            class="invalid-feedback"
          >
            El número de documento debe tener
            {{ documentNumberLength }} dígitos.
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="lastName"> Apellidos </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('lastName') ? ' is-invalid' : ''"
            type="text"
            id="lastName"
            placeholder="Ej.: Flores Sánchez"
            formControlName="lastName"
            [attr.disabled]="true"
          />
          <div
            *ngIf="myForm.get('lastName')?.errors?.required"
            class="invalid-feedback"
          >
            Verifique la información ingresada.
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="firstName"> Nombres </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('firstName') ? ' is-invalid' : ''"
            type="text"
            id="firstName"
            placeholder="Ej.: Camila"
            formControlName="firstName"
            [attr.disabled]="true"
          />
          <div
            *ngIf="myForm.get('firstName')?.errors?.required"
            class="invalid-feedback"
          >
            Verifique la información ingresada.
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="phoneNumber">
            Número celular
          </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('phoneNumber') ? ' is-invalid' : ''"
            type="text"
            [maxlength]="phoneNumberLength"
            id="phoneNumber"
            placeholder="Ej.: 987964246"
            formControlName="phoneNumber"
            appOnlyNumbers
          />

          <div
            *ngIf="myForm.get('phoneNumber')?.errors?.required"
            class="invalid-feedback"
          >
            Debe ingresar un número celular.
          </div>
          <div
            *ngIf="
              !myForm.get('phoneNumber')?.errors?.required &&
              myForm.get('phoneNumber')?.errors?.minlength
            "
            class="invalid-feedback"
          >
            El número celular debe tener {{ phoneNumberLength }} dígitos.
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col">
        <span>Valid</span>
        <pre>{{ myForm.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>personId</span>
        <pre>{{ myForm.controls["personId"].errors | json }}</pre>

        <span>rucNumber</span>
        <pre>{{ myForm.controls["rucNumber"].errors | json }}</pre>

        <span>documentType</span>
        <pre>{{ myForm.controls["documentType"].errors | json }}</pre>

        <span>documentNumber</span>
        <pre>{{ myForm.controls["documentNumber"].errors | json }}</pre>
      </div>
    </div> -->

    <button (click)="next()" class="btn btn-darker btn-block">Siguiente</button>
    <button (click)="cancel()" class="btn btn-outline-dark btn-block">
      Cerrar
    </button>
  </div>
</form>
