<!-- <div class="modal-dialog modal-custom {{size?'modal-'+size: ''}}" style="z-index: 1045;"> -->
<!-- <div class="modal-content"> -->
<!-- <div class="modal-backdrop"></div> -->
<div class="modal-header" style="margin-bottom: -2px;" *ngIf="header">
    
    <button type="button" class="close" (click)="handleClose()">
        <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" class="close external-link" (click)="handleExternalLink()" title="Visor Pdf" *ngIf="visibleVisor">
        <i class="fa fa-external-link" aria-hidden="true"></i>
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<app-progress-bar [show]="loading"></app-progress-bar>
<div class="modal-body" [ngClass]="{'modal-upload': _isModalUpload}">
    <ng-content select="[body]"></ng-content>
</div>
<div class="modal-footer" *ngIf="footer">
    <ng-content select="[footer]"></ng-content>
</div>
<!-- </div> -->
<!-- </div> -->