<style>
    .active a {
      text-decoration: none;
      background-color: #c92329;
      color: #fff;
    }
  </style>
<app-sec-header-simple></app-sec-header-simple>
<div class="container-fluid"><br>
    <h2 align="center">Servicios</h2>
    <br>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/principal']">Inicio</a></li>
        <li class="active">Servicios</li>
    </ol>
    <div class="main">
        <div class="row">
            <div class="col-md-2 nopadding">
                <!-- Index -->

                <div class="left-archive-categor">
                    <ul class="nav">
                        <li [class.active]="opcion.activo" *ngFor="let opcion of listaOpciones">
                            <a *ngIf="opcion.esIframe == true" [attr.href]="'#' + opcion.enlaceSeccion" [attr.id]="opcion.enlaceSeccion + '-tab'" role="tab" data-toggle="tab"
                            [attr.aria-controls]="opcion.enlaceSeccion" aria-expanded="true" (click)="onChangeSeccion(opcion.enlaceSeccion)">
                            <i [attr.class]="opcion.icono" style="font-size: 1.6rem; padding: 10px 5px 0 5px;"></i> {{opcion.nombre}}</a>

                            <a *ngIf="opcion.esIframe == false" [attr.href]="'#' + opcion.enlaceSeccion" (click)="fnNavigate(opcion.enlaceRuta)" [attr.id]="opcion.enlaceSeccion + '-tab'" role="tab" data-toggle="tab"
                            [attr.aria-controls]="opcion.enlaceSeccion" aria-expanded="true">
                            <i [attr.class]="opcion.icono" style="font-size: 1.6rem; padding: 10px 5px 0 5px;"></i> {{opcion.nombre}}</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 nopadding">
                <div class="col-md-12">
                    <div class="tab-content" id="myTabContent" style="opacity: inherit !important;border-top: 0px !important; box-shadow: inherit !important; position: initial !important;">
                        <div *ngFor="let opcion of listaOpciones" class="tab-pane fade" [ngClass]="{'in active': opcion.activo}" role="tabpanel" [attr.id]="opcion.enlaceSeccion"
                        [attr.aria-labelledby]="opcion.enlaceSeccion + '-tab'">
                            <iframe *ngIf="opcion.esIframe == true && opcion.activo" id="blockrandom" name="iframe" [src]="fnSafeUrl(opcion.enlaceRuta)" width="100%" height="1200"
                                scrolling="none" frameborder="0" class="wrapper"></iframe>

                            <iframe *ngIf="opcion.esIframe == false" id="blockrandom" name="iframe" allowTransparency ="true" width="100%" height="1200"
                            scrolling="none" frameborder="0" class="wrapper"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sec-footer></app-sec-footer>
