<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <img class="img-responsivo" src="assets/img/logo.png" alt="">
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="om-widget nav">

        <li class="slicknav_collapsed slicknav_parent">
            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Iniciar Sesión <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['/sesion-empresa']">Empresas</a></li>
                <li><a [routerLink]="['/sesion-persona']">Personas</a></li>
            </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent">
            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Registrarse <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['/registro-empresa']">Empresas</a></li>
                <li><a [routerLink]="['/registro-persona']">Personas</a></li>
            </ul>
        </li>
    </div>

</div>
<!-- Offcanvas Menu Wrapper End -->
<!--/*Banner*/-->
<div class="banner-principal">
    <div class="nav-principal">
        <div class="container">
            <div class="row">
                <!--/*Menu*/-->
                <header class="header-section">
                    <div class="hs-top">
                        <div class="container">
                            <div class="row d-flex">
                                <div class="col-lg-3">
                                    <div class="logo">
                                        <a [routerLink]="['/principal']"><img class="img-responsivo"
                                                src="assets/img/logo-produce.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="logo">
                                        <a [routerLink]="['/principal']"><img class="img-responsivo"
                                                src="assets/img/logo-VSP.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="ht-widget nav">
                                        <li class="dropdown">
                                            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-haspopup="true" aria-expanded="false">Iniciar Sesión
                                                <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a [routerLink]="['/sesion-empresa']">Empresas</a></li>
                                                <li><a [routerLink]="['/sesion-persona']">Personas</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-haspopup="true" aria-expanded="false">Registrarse
                                                <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a [routerLink]="['/registro-empresa']">Empresas</a></li>
                                                <li><a [routerLink]="['/registro-persona']">Personas</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="canvas-open">
                                <span class="icon_menu"></span>
                            </div>
                        </div>
                    </div>
                    <div class="hs-nav">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <nav class="nav-menu">
                                        <ul>
                                            <li routerLinkActive="active"><a [routerLink]="['/principal']">Inicio</a>
                                            </li>
                                            <li routerLinkActive="active"><a [routerLink]="['/tramite-linea']">Trámites
                                                    en línea</a> </li>
                                            <li routerLinkActive="active"><a href="javascript:void(0)">Consultas en
                                                    línea</a>
                                                <ul class="dropdown">
                                                    <li><a [routerLink]="['/consulta-atencion-ciudadano']">Atención al
                                                            cuidadano</a></li>
                                                    <li><a [routerLink]="['/consulta-servicios']">Servicios</a></li>
                                                </ul>
                                            </li>
                                            <li routerLinkActive="active"><a [routerLink]="['/mapa-sitio']">mapa del
                                                    sitio</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!--/*End Menu*/-->

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="banner-title">
                        <h1>Bienvenido a la VSP</h1>
                        <p class="lead">Ventanilla del Sector Producción</p>
                        <form id="search-inicio" class="gsc-search-box gsc-search-box-tools">
                            <!-- <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span
                                    class="sr-only">Search icons</span></label>
                            <input id="search-input" class="form-control input-lg awesomplete"
                                placeholder="¿Qué trámite o servicio buscas?" autocomplete="off" spellcheck="false"
                                autocorrect="off" tabindex="1" data-list=""> -->
                                <mat-form-field class="col-sm-12" appearance="legacy" style="background-color: #fff;color:black;border-radius: 15px; border: 1px solid #949494 !important;">
                                    <mat-label>  &nbsp;&nbsp;  ¿Qué trámite o servicio buscas?<mat-icon></mat-icon></mat-label>
                                    <input matInput placeholder="" [matAutocomplete]="auto" name="joke" #joke="ngModel" [(ngModel)]="currentJoke" (ngModelChange)="doFilter()" autocomplete="off">
                                    <mat-icon matPrefix class="my-icon" style="align-items: right;">search</mat-icon>
                                </mat-form-field>

                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="detalleTupa($event)" panelWidth="500px" classList="opcion_mat">
                                    <mat-option matTooltip = '{{joke.descripcion}}' matTooltipPosition="left" *ngFor="let joke of jokes" [value]="joke.descripcion">
                                        <!-- <MARQUEE onmouseout="this.stop();" onmouseover="this.start();">{{joke.descripcion}}</MARQUEE> -->
                                        {{joke.descripcion}}
                                    </mat-option>           
                                </mat-autocomplete>

                                <!-- <input list="Empresas" type="text" class="form-control" [(ngModel)]="currentJoke" (ngModelChange)="doFilter()">
                                <datalist id="Empresas">
                                    <option [value]="joke.id" *ngFor="let joke of jokes" >{{joke.descripcion}}</option>
                                </datalist> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
        </div>
    </div>
</div>

<!--/*End Banner*/-->