<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<body class="align">
    <div class="login">
    <header class="login__header">
       <div class="logo-produce">
         <img src="../../assets/img/logo_produce.PNG" alt="Logo" title="Logo" width="138">
       </div>  
       <div class="logo-aplicacion">
         <img src="../../assets/img/logo_vusp.png" alt="Logo" title="Logo" width="138">
       </div>
          <h3>Inicio de Sesión</h3>
          <p>Persona Natural</p>
    </header>

      <form class="login__form">      
          <div>
              <label for="numeroDoc">NÚMERO DOCUMENTO</label>
              <input type="text" id="numeroDoc" name="numeroDoc" [(ngModel)]="numero_documento" placeholder="Ej.:15234687" (change)="changeNroDocumento()"  (keypress)="restrictNumeric($event)" maxlength="12">
              <p class="validador" *ngIf="validarNroDocumento">Debe ingresar el número de documento.</p>
          </div>
    
        <div>
          <label for="contraseña">CONTRASEÑA</label>
          <input type="text" id="contraseña" name="contraseña" [(ngModel)]="contrasena" placeholder="" (change)="changeContrasena()">
          <p class="validador" *ngIf="validarContrasena">Debe ingresar la contraseña.</p>
          <a style="text-align:left" href="#"></a>
        </div>
    
        <div class="align-right">
          <a href="#">Recuperar contraseña</a>
        </div>
        
        <div>
          <button class="buttonSiguiente" (click)="iniciarSesionPersonaNatural()">Ingresar</button>    
        </div>
  
        <div class="footer">
          <p>¿No tienes una cuenta de persona?</p>  
          <a href="#">Crea una ahora</a>
        </div>
  
      </form>
    </div>
  
  </body>
  
