
<body>
  <nav>
<ul>
  <li><a  class="active" disable>Componentes</a></li>
  <li><a [routerLink]="['/registro-persona']">Registro Persona</a></li>
  <li><a [routerLink]="['/registro-empresa']">Registro Empresa</a></li>
  <li><a [routerLink]="['/sesion-persona']">Sesión Persona</a></li>
  <li><a [routerLink]="['/sesion-empresa']">Sesión Empresa</a></li>
  <li><a [routerLink]="['/recuperar-contrasena-persona']">Recuperar Contraseña Persona</a></li>
  <li><a [routerLink]="['/recuperar-contrasena-empresa']">Recuperar Contraseña Empresa</a></li>
</ul>
<router-outlet></router-outlet>
</nav>
</body>

