<style>
    .active a {
      text-decoration: none;
      background-color: #c92329;
      color: #fff;
    }
  </style>
  <app-sec-header-simple></app-sec-header-simple>
  <div class="container-fluid">
    <br><br>
    <h2 class="text-center">Administrar usuarios</h2>
    <br>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/principal']">Inicio</a></li>
        <li class="active">Administrar usuarios</li>
    </ol>
  </div>
  <div class="main">
    <div align="center">
        Listado de usuarios asignados a su empresa<br><br><br>
    </div>
  </div>
  <div class="col-md-2">
    <a class="btn btn-tramite2"(click)="handleClickNuevo()" >Nuevo Usuario</a>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="text-center" style="width: 7%; color:white !important;background-color:#BD0F17">N° DOCUMENTO</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">APELLIDOS</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">NOMBRES</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">CORREO</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">TELÉFONO</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">ESTADO</th>
                <th class="text-center" style="color:white !important;background-color:#BD0F17">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of listaUsuariosAsignados">
                <td class="text-center">{{app.numeroDocumento}}</td>
                <td class="text-center">{{app.apellidoPaterno}}</td>
                <td class="text-center">{{app.nombres}}</td>
                <td class="text-center">{{app.correo}}</td>
                <td class="text-center">{{app.telefono}}</td>
                <td class="text-center">{{ app.activo == true ? 'Activo' : 'Inactivo'}}</td>
                <td class="text-center">
                    <a  class="btn btn-link btn-icon" (click)="handleClickEditar(app)" data-tooltip="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>