<div class="main-content">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12">
          <div class="card shadow-prod border-0">  
            <div class="card-header bg-transparent">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    class="img-fluid"
                    src="assets/img/logo_produce.PNG"
                    alt="Produce"
                    title="Produce"
                  />
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-center mb-2">
                <div class="col-4 col-sm-3">
                  <img
                    *ngIf="logo"
                    class="img-fluid"
                    [src]="logo"
                    [alt]="applicationId"
                    [title]="applicationId"
                  />
                </div>
              </div>
  
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <h1 class="display-4">Cambiar contraseña</h1>
                </div>
                <div class="col-12 text-center" *ngIf="profile?.juridicPerson">
                  <h3 class="">Persona Juridica</h3>
                </div>
                <div class="col-12 text-center" *ngIf="profile?.naturalPerson && !profile?.juridicPerson ">
                    <h3 class="">Persona Natural</h3>
                  </div>
              </div>

              <div #stepper class="bs-stepper">
                <div class="bs-stepper-header">
                  <div class="step" data-target="#step-1">
                    <button class="step-trigger">
                      <span class="bs-stepper-circle">1</span>
                    </button>
                  </div>
                  <div class="step" data-target="#step-2">
                    <button class="step-trigger">
                      <span class="bs-stepper-circle">2</span>
                    </button>
                  </div>
                </div>

              <div  class="bs-stepper-content">
                <app-modification-password-first-step
                  #firstStep
                  (onNextFormButton)="onNextStep($event)"
                  (onCancelFormButton)="onReturnUrl()"
                ></app-modification-password-first-step>
                <app-modification-password-second-step
                  #secondStep
                  (onNextFormButton)="onNextStep2($event)"
                  (onPreviewFormButton)="onPreviewStep()"
                ></app-modification-password-second-step>
              </div>
                     
            </div>
          </div>
          <div class="card shadow-prod border-0" *ngIf="validaSuccess">
            <div class="col-sm-12 col-md-12">
              <h3 class="row justify-content-center mt-4">Contraseña cambiada</h3>
              <label class="row justify-content-center mb-4 mt-4">Tu contraseña fue guardada con exito</label>
            </div>
           <div>
              <a [routerLink]="['/auth/login-person']" queryParamsHandling="merge" class="btn btn-darker btn-block">Ir a inicio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

