<form [formGroup]="myForm" autocomplete="off">
    <div id="step-3" class="content">
            <div class="col-sm-12 col-md-12">
              <h3 class="row justify-content-center mt-4">Contraseña cambiada</h3>
              <label class="row justify-content-center mb-4 mt-4">Tu contraseña fue guardada con exito</label>
            </div>
           <div>
              <a *ngIf="profileResponse?.juridicPerson" [routerLink]="['/auth/login-company']" queryParamsHandling="merge" class="btn btn-darker btn-block">Ir a inicio</a>
              <a *ngIf="profileResponse?.naturalPerson && !profileResponse?.juridicPerson" [routerLink]="['/auth/login-person']" queryParamsHandling="merge" class="btn btn-darker btn-block">Ir a inicio</a>
            </div>
          </div>
  </form>
  
