<form [formGroup]="myForm" autocomplete="off">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="documentNumber">
            Número de documento
          </label>
  
          <input
            class="form-control"
            [ngClass]="isInvalidField('documentNumber') ? ' is-invalid' : ''"
            [maxlength]="documentNumberLength"
            type="text"
            id="documentNumber"
            placeholder="Ej.: 15234687"
            formControlName="documentNumber"
            appOnlyNumbers
          />
  
          <div
            *ngIf="myForm.get('documentNumber')?.errors?.required"
            class="invalid-feedback"
          >
            Debe ingresar el número de documento.
          </div>
          <div
            *ngIf="
              !myForm.get('documentNumber')?.errors?.required &&
              myForm.get('documentNumber')?.errors?.minlength
            "
            class="invalid-feedback"
          >
          El número de documento debe tener como mínimo
          {{ documentNumberLength - 4 }} dígitos.
          </div>
        </div>
      </div>
  
      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="email">
            Correo electrónico
          </label>

          <input
            class="form-control"
            [ngClass]="isInvalidField('email') ? ' is-invalid' : ''"
            type="text"
            id="email"
            placeholder="Ej.: camila.flores@ejemplo.com"
            formControlName="email"
          />

          <div *ngIf="isInvalidField('email')" class="invalid-feedback">
            El formato de correo electrónico es inválido.
          </div>
        </div>
      </div>
    </div>
  
    <button (click)="guardar()" class="btn btn-darker btn-block">Recuperar contraseña</button>
    <button (click)="cancel()" class="btn btn-outline-dark btn-block">Cancelar</button>
    
  </form>
  
  
