<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <img class="img-responsivo" src="assets/img/logo.png" alt="">
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="om-widget nav">

        <li class="slicknav_collapsed slicknav_parent">
            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Iniciar Sesión <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['/sesion-empresa']">Empresas</a></li>
                <li><a [routerLink]="['/sesion-persona']">Personas</a></li>
            </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent">
            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Registrarse <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['/registro-empresa']">Empresas</a></li>
                <li><a [routerLink]="['/registro-persona']">Personas</a></li>
            </ul>
        </li>
    </div>

</div>
<!-- Offcanvas Menu Wrapper End -->
<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-3">
                    <div class="logo">
                        <a [routerLink]="['/principal']"><img class="img-responsivo" src="assets/img/logo-produce.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="logo">
                        <a [routerLink]="['/principal']"><img class="img-responsivo" src="assets/img/logo-VSP.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ht-widget nav">
                        <li class="dropdown">
                            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Iniciar Sesión
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['/sesion-empresa']">Empresas</a></li>
                                <li><a [routerLink]="['/sesion-persona']">Personas</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="hw-btn dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Registrarse
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['/registro-empresa']">Empresas</a></li>
                                <li><a [routerLink]="['/registro-persona']">Personas</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav" style="background-color: #BD0F17">
        <div class="container">
            <div class="row" align="center">
                <div class="col-lg-12">
                    <nav class="nav-menu">
                        <ul>
                            <li routerLinkActive="active"><a [routerLink]="['/principal']">Inicio</a>
                            </li>
                            <li routerLinkActive="active"><a [routerLink]="['/tramite-linea']">Trámites
                                    en línea</a> </li>
                            <li routerLinkActive="active"><a href="javascript:void(0)">Consultas en
                                    línea</a>
                                <ul class="dropdown">
                                    <li><a [routerLink]="['/consulta-atencion-ciudadano']">Atención al
                                            cuidadano</a></li>
                                    <li><a [routerLink]="['/consulta-servicios']">Servicios</a></li>
                                </ul>
                            </li>
                            <li routerLinkActive="active"><a [routerLink]="['/mapa-sitio']">mapa del
                                    sitio</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
</header>