<div class="main-content">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6">
        <div class="card shadow-prod border-0">
          <div class="card-header bg-transparent">
            <div class="row">
              <div class="col-sm-6">
                <img
                  class="img-fluid"
                  src="../../../assets/img/logo_produce.PNG"
                  alt="Produce"
                  title="Produce"
                />
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 text-center mb-2">
                <h1 class="display-4">404</h1>
              </div>
              <div class="col-12 text-center mb-2">
                <h1 class="display-4">PÁGINA NO<br>ENCONTRADA</h1>
              </div>
              <div class="col-12 text-center mb-2">
                <p>La página o URL a la que intenta acceder no ha sido encontrada, para encontrar lo que buscas ingresa desde una de nuestras plataformas</p>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
