<form>
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  mat-dialog-title
>
  <h2 class="headline m-0" fxFlex="auto">Iniciar sesión</h2>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<div mat-dialog-content class="mt-12">

  <p class="font-medium" fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
    Para iniciar un trámite, es necesario iniciar sesión como empresa o persona.
  </p>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive"></div>
        <li><a mat-flat-button mat-dialog-close="false" [routerLink]="['/sesion-empresa']">Empresas</a></li>
        <li><a mat-flat-button mat-dialog-close="false" [routerLink]="['/sesion-persona']">Personas</a></li>
    </div>
  </div>
</div>

<br />
<div mat-dialog-actions align="center">
  <button mat-flat-button mat-dialog-close="false" color="warn">Cerrar</button>
</div>
</form>
