<app-sec-header-simple></app-sec-header-simple>
<div class="container-fluid">
  <br>
  <h2 align="center">Aplicaciones Móviles</h2>
  <br>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/principal']">Inicio</a></li>
    <li class="active">Aplicaciones Móviles</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <p>Para acceder a cualquier apps puedes haz click en cualquiera de estos links para descargarla.<br><br></p>
    </div>
  </div>

  <div class="row col-sm-12">
    <div class="col-sm-12" style="margin-bottom: 30px">
      <h4>Industria</h4>
      <hr>
      <div *ngFor="let opcion of listaOpcionesIND" class="col-sm-4 col-md-4 form-group">
        <div class="form-group">
          <a [attr.href]="opcion.enlaceRuta" target="_blank">
            <div class="card">
              <img class="img-responsive" [attr.src]="('/assets/'+opcion.imagen)">
              <div class="caption">
                <h1 align="center">{{opcion.nombre}}</h1>
                <p>
                  {{opcion.descripcion}}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="col-sm-12" style="margin-bottom: 30px">
      <h4>Pesca</h4>
      <hr>

      <div *ngFor="let opcion of listaOpcionesPES" class="col-sm-4 col-md-4 form-group">
        <div class="form-group">
          <a [attr.href]="opcion.enlaceRuta" target="_blank">
            <div class="card">
              <img class="img-responsive" [attr.src]="('/assets/'+opcion.imagen)">
              <div class="caption">
                <h1 align="center">{{opcion.nombre}}</h1>
                <p>
                  {{opcion.descripcion}}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="col-sm-12" style="margin-bottom: 30px">
      <h4>Otros</h4>
      <hr>

      <div *ngFor="let opcion of listaOpcionesOTROS" class="col-sm-4 col-md-4 form-group">
        <div class="form-group">
          <a [attr.href]="opcion.enlaceRuta" target="_blank">
            <div class="card">
              <img class="img-responsive" [attr.src]="('/assets/'+opcion.imagen)">
              <div class="caption">
                <h1 align="center">{{opcion.nombre}}</h1>
                <p>
                  {{opcion.descripcion}}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    </div>
  </div>
    <app-sec-footer></app-sec-footer>
