<ng-template [ngIf]="isAuth" [ngIfElse]="notIsAuth">
  <app-sec-header-simple></app-sec-header-simple>
</ng-template> 
<ng-template #notIsAuth>
  <app-sec-header></app-sec-header>
</ng-template>
<div class="container-fluid" style="width: 1170px;">
  <br><br>
  <h2 class="text-center">Editar perfil</h2>
  <br>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/principal']">Inicio</a></li>
    <li class="active">Editar perfil</li>
  </ol>
  <div class="main"></div>
      <form [formGroup]="formEdicionEmpresa" (ngSubmit)="editarEmpresa()">
        <div class="row">
          <div class="col-md-12">
            <h4><strong>Información de la Empresa</strong></h4>
          </div>
          <!-- <div class="col-md-12">
            Foto de Empresa:
          </div> -->
          <div class="col-md-12">
            <img src="../../../assets/img/icon_editar_pempresa.png"><br><br><br>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="fill" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-label>Número de RUC (*)</mat-label>
              <input matInput placeholder="Ingresar número de documento" formControlName="numeroDocumento"  />
              <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="fnBtnRUCBuscar()">
                  <mat-icon>search</mat-icon>
              </button>
              <mat-error *ngIf="numeroDocumentoErrors">{{ numeroDocumentoErrors }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <mat-label>Razon Social (*)</mat-label>
            <input matInput placeholder="Campo autocompletado con RUC" maxlength="500"
            formControlName="razonSocial" readonly />
            <mat-error *ngIf="razonSocialErrors">{{ razonSocialErrors }}</mat-error>
          </mat-form-field>
          </div>
          <div class="col-md-12">
          <mat-form-field appearance="fill" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <mat-label>Dirección (*)</mat-label>
            <input matInput placeholder="Ingresar una dirección" maxlength="500" formControlName="direccion" />
            <mat-error *ngIf="direccionErrors">{{ direccionErrors }}</mat-error>
          </mat-form-field>

          <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br></div> -->

          <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4" appearance="fill">
            <mat-label>Sector (*)</mat-label>
            <mat-select matInput  formControlName="sector"  >
            <mat-option value=0>--Seleccionar--</mat-option>
            <mat-option matTooltip = {{p.label}} matTooltipPosition="right"
            [value]="p.value" *ngFor="let p of listaSector">
                {{p.label}}</mat-option>
            </mat-select>  
            <mat-error *ngIf="sectorErrors">{{ sectorErrors }}</mat-error>                 
        </mat-form-field>  

          </div>

          <div class="col-md-12">
            <br><br><br>

            <h4><strong>Información Personal</strong></h4>
          </div>

          <!-- <div class="col-md-12">
            Foto de personal:
          </div> -->
          <div class="col-md-12">
            <img src="../../../assets/img/icon_editar_pp.png"><br><br><br>
          </div>
          <div class="col-md-12">

            <mat-form-field appearance="fill" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-label>Número de documento(*)</mat-label>
              <input matInput placeholder="Ingresar número de documento" formControlName="nroDocPerNatural"  />
              <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="fnBtnPersonaBuscar()">
                  <mat-icon>search</mat-icon>
              </button>
              <mat-error *ngIf="nroDocPerNaturalErrors">{{ nroDocPerNaturalErrors }}</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-label>Nombres (*)</mat-label>
              <input matInput placeholder="Campo autocompletado con DNI/RUC" maxlength="200"
              formControlName="nombres" readonly />
              <mat-error *ngIf="nombresErrors">{{ nombresErrors }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <mat-label>Apellidos (*)</mat-label>
              <input matInput placeholder="Campo autocompletado con DNI/RUC" maxlength="200"
              formControlName="apellidos" readonly />
              <mat-error *ngIf="apellidosErrors">{{ apellidosErrors }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <mat-label>Celular (*)</mat-label>
              <input matInput placeholder="Ingresar número de celular" maxlength="9"
              formControlName="celular" />
              <mat-error *ngIf="celularErrors">{{ celularErrors }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-label>Correo electrónico (*)</mat-label>
            <input matInput placeholder="Ingresar correo electrónico" maxlength="100"
            formControlName="correo" />
            <mat-error *ngIf="correoErrors">{{ correoErrors }}</mat-error>
          </mat-form-field>

          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <button type="submit" class="btn btn-tramite2">Guardar cambios</button>
              <!-- <input type="submit" class="btn btn-tramite2" value="Regístrate" /> -->
            </div>
          </div>

        </div>
      </form>
  </div>
<app-sec-footer></app-sec-footer>
