<form [formGroup]="myForm" autocomplete="off">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="rucNumber">
          N° de RUC del cliente
        </label>

        <input
          class="form-control"
          [ngClass]="isInvalidField('rucNumber') ? ' is-invalid' : ''"
          type="text"
          [maxlength]="rucNumberLength"
          id="rucNumber"
          placeholder="Ej.: 20543216789"
          formControlName="rucNumber"
          appOnlyNumbers
        />

        <div
          *ngIf="myForm.get('rucNumber')?.errors?.required"
          class="invalid-feedback"
        >
          Debe ingresar el número de RUC.
        </div>
        <div
          *ngIf="
            !myForm.get('rucNumber')?.errors?.required &&
            myForm.get('rucNumber')?.errors?.minlength
          "
          class="invalid-feedback"
        >
          El RUC debe tener {{ rucNumberLength }} dígitos.
        </div>
        <div
          *ngIf="
            !myForm.get('rucNumber')?.errors?.required &&
            !myForm.get('rucNumber')?.errors?.minlength &&
            myForm.get('rucNumber')?.errors?.startsWith
          "
          class="invalid-feedback"
        >
          El número de RUC debe iniciar con 20.
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="documentNumber">
          Número de documento
        </label>

        <input
          class="form-control"
          [ngClass]="isInvalidField('documentNumber') ? ' is-invalid' : ''"
          [maxlength]="documentNumberLength"
          type="text"
          id="documentNumber"
          placeholder="Ej.: 15234687"
          formControlName="documentNumber"
          appOnlyNumbers
        />

        <div
          *ngIf="myForm.get('documentNumber')?.errors?.required"
          class="invalid-feedback"
        >
          Debe ingresar el número de documento.
        </div>
        <div
          *ngIf="
            !myForm.get('documentNumber')?.errors?.required &&
            myForm.get('documentNumber')?.errors?.minlength
          "
          class="invalid-feedback"
        >
           El número de documento debe tener como mínimo
           {{ documentNumberLength - 4 }} dígitos.
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <label class="form-control-label" for="password"> Contraseña </label>

        <div class="input-group input-group-merge">
          <input
            class="form-control"
            [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
            [type]="!hidePassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
          />
          <div class="input-group-append">
            <span
              class="input-group-text"
              [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
            >
              <i
                class="fas"
                [ngClass]="!hidePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                (click)="hidePassword = !hidePassword"
              >
              </i>
            </span>
          </div>

          <div
            *ngIf="myForm.get('password')?.errors?.required"
            class="invalid-feedback"
          >
            Debe ingresar la contraseña..
          </div>
          <div
            *ngIf="
              myForm.get('password')?.errors &&
              !myForm.get('password')?.errors?.required
            "
            class="invalid-feedback"
          >
            La contraseña debe cumplir con los requisitos.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row justify-content-end mb-3">
      <a
        href="/recuperar-contrasena-persona?applicationId={{ applicationId }}"
        style="color: #000; border-bottom: 1px solid #000"
        >Recuperar contraseña</a
      >
    </div>
  </div>

  <button (click)="saveForm()" class="btn btn-darker btn-block">Ingresar</button>
  <button (click)="cancel()" class="btn btn-outline-dark btn-block">Cancelar</button>
</form>
