<!-- <section class="seccion-procedimientos">
    <div class="container">
        <h2 align="center">Trámites en Línea</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <a [routerLink]="['/tramite-linea/', 'pesca']" >
                        <div class="card">
                            <img class="img-responsive" src="/assets/img/PescayAcuicultura.jpg">
                            <div class="caption">
                                <h2>Pesca</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <a [routerLink]="['/tramite-linea', 'mype']" >
                        <div class="card">
                            <img class="img-responsive" src="/assets/img/MypeIndustria.jpg">
                            <div class="caption">
                                <h2>MYPE</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <a [routerLink]="['/tramite-linea/', 'otros']">
                        <div class="card">
                            <img class="img-responsive" src="/assets/img/OtrosProcedimientos.jpg">
                            <div class="caption">
                                <h2>Otros</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
	<!--/*Procedimientos*/-->
	<section class="seccion-procedimientos" style="background-color: #e7e7e7">
		<div class="container">
			<div class="row col-sm-12">
				<div class="col-sm-8 col-md-8" style="margin-top: 10px !important;">
					<h2 style="margin-bottom: 5px !important;">Trámites en Línea</h2>
					<font size="4">Aquí podrás ingresar tu trámite digitalizado<br></font>
            
          </div>
			  <div class="col-sm-4">
					<a class="btn btn-tramite2" [routerLink]="['/tramite-linea']">Realizar trámite </a>
				</div>
				 
			</div>

		</div>
	</section>
	<!--/*EndProcedimientos*/-->