<div class="main-content">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
          <div class="card shadow-prod border-0" >
            <div class="card-header bg-transparent" *ngIf="validaSuccess">
                <div class="row">
                  <div class="col-sm-5">
                    <img
                      class="img-fluid"
                      src="assets/img/logo_produce.PNG"
                      alt="Produce"
                      title="Produce"
                    />
                  </div>
                </div>
              </div>
            <div class="card-body">
                <div class="row justify-content-center mb-2" *ngIf="validaSuccess">
                    <div class="col-4 col-sm-3">
                      <img
                        *ngIf="logo"
                        class="img-fluid"
                        [src]="logo"
                        [alt]="applicationId"
                        [title]="applicationId"
                      />
                    </div>
                  </div>
  
              <div class="row justify-content-center" *ngIf="validaSuccess">
                <div class="col-12 text-center">
                  <h1 class="display-4">Cambiar contraseña</h1>
                </div>
                <div class="col-12 text-center" *ngIf="profileResponse?.juridicPerson">
                  <h3 class="">Persona Juridica</h3>
                </div>
                <div class="col-12 text-center" *ngIf="profileResponse?.naturalPerson && !profileResponse?.juridicPerson">
                    <h3 class="">Persona Natural</h3>
                  </div>
              </div>
  
              <div #stepper class="bs-stepper">
                <div class="bs-stepper-header" >
                  <div class="step" data-target="#step-1">
                    <button class="step-trigger"  >
                      <span class="bs-stepper-circle" *ngIf="validaSuccess">1</span>
                    </button>
                  </div>
                  <!-- <div class="line"></div> -->
                  <div class="step" data-target="#step-2">
                    <button class="step-trigger" >
                      <span class="bs-stepper-circle" *ngIf="validaSuccess">2</span>
                    </button>
                  </div>
                  <div class="step" data-target="#step-3">
                    <button class="step-trigger" >                   
                    </button>
                  </div>
                </div>
  
                <div class="bs-stepper-content">
                  <app-modify-password-first-step
                    #firstStep    
                    (onNextFormButton)="onNextStep($event)"
                    (onCancelFormButton)="onReturnUrl()"
                  ></app-modify-password-first-step>
                  <app-modify-password-second-step
                    #secondStep              
                    (onNextFormButton)="onNextStep2($event)"
                    (onPreviewFormButton)="onPreviewStep()"
                  ></app-modify-password-second-step>
                  <app-modify-password-success-step
                    #successStep
                    (onNextFormButton)="onNextStep($event)"
                    (onPreviewFormButton)="onPreviewStep()"
                    [profileResponse]="profileResponse"
                  ></app-modify-password-success-step>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div>
  
