<div class="row">
  <div class="col-sm-12">
    <h3 style="color: #c92329">Mis Aplicaciones</h3>
    <p>&nbsp;&nbsp; Para acceder a cualquier aplicación haz click en la opción Redireccionar.<br><br></p>
  </div>
</div>

<div class="row col-sm-12">
  <div class="col-sm-12" style="margin-bottom: 30px">
    <hr>
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-custom">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Descripción</th>
                          <th>Estado</th>
                          <th>Redireccionar</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let app of listaAplicaciones">
                      <tr>
                          <td>{{app.nombre}}</td>
                          <td>{{app.descripcion}}</td>
                          <td *ngIf="app.estado == false"><span class="label label-danger">Solicitar acceso</span></td>
                          <td *ngIf="app.estado == true"><span class="label label-success">Disponible</span></td>
                           <td style="text-align: center;"><a [attr.href]="app.url" target="_blank" rel="tooltip"data-placement="bottom" title="Ir a aplicación"><i
                                  class="fa fa-external-link fa-lg" aria-hidden="true"></i>
                              </a>
                          </td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>

  </div>
</div>