<ng-template [ngIf]="isAuth" [ngIfElse]="notIsAuth">
    <app-sec-header-simple></app-sec-header-simple>
  </ng-template> 
  <ng-template #notIsAuth>
    <app-sec-header></app-sec-header>
  </ng-template>
  <div class="container-fluid" style="width: 1170px;">
    <br><br>
    <h2 class="text-center">Editar perfil</h2>
    <br>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/principal']">Inicio</a></li>
      <li class="active">Editar perfil</li>
    </ol>
    <div class="main"></div>
        <form [formGroup]="formEdicionPersona" (ngSubmit)="editarPersona()">
          <div class="row">
  
            <div class="col-md-12">
              <br><br><br> 
              <h4><strong>Información Personal</strong></h4>
            </div>
  
            <!-- <div class="col-md-12">
              Foto de personal:
            </div> -->
            <div class="col-md-12">
              <img src="../../../assets/img/icon_editar_pp.png"><br><br><br>
            </div>
            <div class="col-md-12">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <mat-form-field class="col-xs-12 col-sm-3 col-md-3col-lg-3" appearance="fill">
                    <mat-label>Tipo documento (*)</mat-label>
                    <mat-select (selectionChange)="fnChangeTipoDocumento($event.value)"    
                    matInput  formControlName="tipoDocumento"  >
                    <mat-option value=0>--Seleccionar--</mat-option>
                    <mat-option matTooltip = {{p.vDescripcion}} matTooltipPosition="right"
                    [value]="p.value" *ngFor="let p of listaTipoDocumento">
                        {{p.label}}</mat-option>
                    </mat-select>  
                    <mat-error *ngIf="tipoDocumentoErrors">{{ tipoDocumentoErrors }}</mat-error>                 
                </mat-form-field>  
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <mat-label>Número documento (*)</mat-label>
                    <input matInput placeholder="Ingresar número de documento" formControlName="numeroDocumento"  />
                    <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="fnBtnPersonaBuscar()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="numeroDocumentoErrors">{{ numeroDocumentoErrors }}</mat-error>
                </mat-form-field>
            </div>
          
              <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <mat-label>Nombres (*)</mat-label>
                <input matInput placeholder="Campo autocompletado con DNI/RUC" maxlength="200"
                formControlName="nombres" readonly />
                <mat-error *ngIf="nombresErrors">{{ nombresErrors }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <mat-label>Apellidos (*)</mat-label>
                <input matInput placeholder="Campo autocompletado con DNI/RUC" maxlength="200"
                formControlName="apellidos" readonly />
                <mat-error *ngIf="apellidosErrors">{{ apellidosErrors }}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4" appearance="fill">
                <mat-label>Departamento (*)</mat-label>
                <mat-select matInput  formControlName="departamento"  >
                    <mat-option value=0>--Seleccionar--</mat-option>
                    <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                    [value]="p.value" *ngFor="let p of listaDepartamentos">
                        {{p.text}}</mat-option>
                </mat-select>  
                <mat-error *ngIf="departamentoErrors">{{ departamentoErrors }}</mat-error>                 
            </mat-form-field>  
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4" appearance="fill">
                <mat-label>Provincia (*)</mat-label>
                <mat-select matInput  formControlName="provincia"  >
                    <mat-option value=0>--Seleccionar--</mat-option>
                    <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                    [value]="p.value" *ngFor="let p of listaProvincias">
                        {{p.text}}</mat-option>
                </mat-select>  
                <mat-error *ngIf="provinciaErrors">{{ provinciaErrors }}</mat-error>                 
            </mat-form-field>  
            <mat-form-field class="col-xs-12 col-sm-4 col-md-4 col-lg-4" appearance="fill">
                <mat-label>Distrito (*)</mat-label>
                <mat-select matInput  formControlName="distrito"  >
                    <mat-option value=0>--Seleccionar--</mat-option>
                    <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                    [value]="p.value" *ngFor="let p of listaDistritos">
                        {{p.text}}</mat-option>
                </mat-select>  
                <mat-error *ngIf="distritoErrors">{{ distritoErrors }}</mat-error>                 
            </mat-form-field>  
            <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <mat-label>Correo electrónico (*)</mat-label>
              <input matInput placeholder="Ingresar correo electrónico" maxlength="200"
              formControlName="correo" />
              <mat-error *ngIf="correoErrors">{{ correoErrors }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <mat-label>Celular (*)</mat-label>
                <input matInput placeholder="Ingresar número de celular" maxlength="9"
                formControlName="celular" />
                <mat-error *ngIf="celularErrors">{{ celularErrors }}</mat-error>
            </mat-form-field>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <button type="submit" class="btn btn-tramite2">Guardar cambios</button>
              </div>
            </div>
  
          </div>
        </form>
    </div>
  <app-sec-footer></app-sec-footer>
  