<form [formGroup]="myForm" autocomplete="off">
    <div id="step-2" class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-control-label" for="password"> Contraseña Nueva </label>
        
                  <div class="input-group input-group-merge">
                    <input
                      class="form-control"
                      [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
                      [type]="!hidePassword ? 'text' : 'password'"
                      id="password"
                      formControlName="password"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
                      >
                        <i
                          class="fas"
                          [ngClass]="!hidePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                          (click)="hidePassword = !hidePassword"
                        >
                        </i>
                      </span>
                    </div>
        
                    <div
                      *ngIf="myForm.get('password')?.errors?.required"
                      class="invalid-feedback"
                    >
                       Debe ingresar la contraseña.
                    </div>
                    <div
                      *ngIf="
                        myForm.get('password')?.errors &&
                        !myForm.get('password')?.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      La contraseña debe cumplir con los requisitos.
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-control-label" for="repeatPassword">
                    Repetir contraseña Nueva
                  </label>
        
                  <div class="input-group input-group-merge">
                    <input
                      class="form-control"
                      [ngClass]="isInvalidField('repeatPassword') ? ' is-invalid' : ''"
                      [type]="!hideRepeatPassword ? 'text' : 'password'"
                      id="repeatPassword"
                      formControlName="repeatPassword"
                    />
        
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        [ngClass]="
                          isInvalidField('repeatPassword') ? ' is-invalid' : ''
                        "
                      >
                        <i
                          class="fas"
                          [ngClass]="
                            !hideRepeatPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
                          "
                          (click)="hideRepeatPassword = !hideRepeatPassword"
                        >
                        </i>
                      </span>
                    </div>
        
                    <div
                      *ngIf="myForm.get('repeatPassword')?.errors?.required"
                      class="invalid-feedback"
                    >
                       No coincide con la contraseña ingresada..
                    </div>
                    <div
                      *ngIf="myForm.get('repeatPassword')?.errors?.mustMatch"
                      class="invalid-feedback"
                    >
                      No coincide con la contraseña ingresada.
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-sm-12 col-md-12">
                <div class="custom-control custom-checkbox">
                  <input
                    disabled
                    type="checkbox"
                    class="custom-control-input"
                    id="hasSpecialCharacters"
                    [checked]="!myForm.get('password')?.errors?.hasSpecialCharacters"
                  />
                  <label class="custom-control-label" for="hasSpecialCharacters">
                    Al menos un símbolo.</label
                  >
                </div>
              </div>
        
              <div class="col-sm-12 col-md-12">
                <div class="custom-control custom-checkbox">
                  <input
                    disabled
                    type="checkbox"
                    class="custom-control-input"
                    id="hasNumber"
                    [checked]="!myForm.get('password')?.errors?.hasNumber"
                  />
                  <label class="custom-control-label" for="hasNumber">
                    Al menos un número.</label
                  >
                </div>
              </div>
        
              <div class="col-sm-12 col-md-12">
                <div class="custom-control custom-checkbox">
                  <input
                    disabled
                    type="checkbox"
                    class="custom-control-input"
                    id="hasCapitalCase"
                    [checked]="!myForm.get('password')?.errors?.hasCapitalCase"
                  />
                  <label class="custom-control-label size" for="hasCapitalCase">
                    Al menos una mayúscula.</label
                  >
                </div>
              </div>
        
              <div class="col-sm-12 col-md-12">
                <div class="custom-control custom-checkbox mb-3">
                  <input
                    disabled
                    type="checkbox"
                    class="custom-control-input bg-warning"
                    id="minlength"
                    [checked]="
                      !myForm.get('password')?.errors?.required &&
                      !myForm.get('password')?.errors?.minlength
                    "
                  />
                  <label class="custom-control-label" for="minlength">
                    Más de 8 caractéres.</label
                  >
                </div>
              </div>
    
              
        </div>
      
        <button (click)="next()" class="btn btn-darker btn-block">Cambiar contraseña</button>
        <button (click)="preview()" class="btn btn-outline-dark btn-block">
          Anterior
        </button>
        </div>
  </form>
  
