<style type="text/css">
  .modal-content {
    padding: 1.25rem;
    border: none;
    margin-top: 30%;

  {
    color: teal;
  }

  .modal-header {
    justify-content: center;
    flex-direction: column;
    border: none;
    text-align: center;
  }

  .modal-title {
    width: 100%;
    color: black;
  }

  .modal-body {
    font-size: 13px;
    font-family: 'plutosansregular';
  }

  .modal-footer {
    border-top: none;
  }

  }
</style>
<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title" >{{ modalConfig.modalTitle }}</h5>
  </div>
  <div class="modal-body" style="font-family: 'plutosansregular'; font-size: 13px;">
    <ng-content ></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="dismiss()"
            *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
            [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
      {{ modalConfig.dismissButtonLabel }}
    </button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="close()"
            *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
            [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>
</ng-template>
