<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 style="font-size: 20px;color:#BD0F17; font-weight: 300 !important;" align="center">Aquí podrás ingresar tu trámite digitalizado, en referencia al expediente N° {{numTramDocumentario}}</h2>
</div>
<div mat-dialog-content class="mt-12">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" align="center">
        <div class="caja">
            <p style="color: #BD0F17"><b>DATOS PRINCIPALES</b></p> 
            <div class="two-columns">
                <p>
                    <b>TIPO DE PERSONA:</b><br>
                    {{usuario.IdPersona == 1 ? 'NATURAL':'JURÍDICA'}}
                </p>
                <p>
                    <b>Nº DE DOCUMENTO:</b><br>
                    {{usuario.NumeroDocumento}}
                </p>
                <p>
                    <b>NOMBRE/RAZÓN SOCIAL:</b><br>
                    {{usuario.NombreCompleto}}
                </p>
                <p>
                    <b>OFICINA A LA QUE SE DIRIGE:</b><br>
                    {{dependenciaSeleccionada}}
                </p>
            </div>
        </div>
        <div class="caja">
            <p style="color: #BD0F17"><b>DETALLE DEL TRÁMITE</b></p> 
            <div mat-dialog-content class="mt-12">
                <div class="panel panel-default" style="border: 0px solid transparent !important;">
                    <div class="panel-body" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="table-responsive"></div>
                        <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <mat-label>Asunto</mat-label>
                            <input matInput [(ngModel)]="asunto" placeholder="Asunto"/>
                        </mat-form-field>
                    </div>
              </div>
            </div>
        </div>
        <div class="caja">
            <p style="color: #BD0F17"><b>ARCHIVOS DEL ADJUNTO:</b></p> 
            <div mat-dialog-content class="mt-12">
                <p>
                    <label class="control-label form__text ">
                        Pasos para subir adjuntos:
                    </label><br>
                    1. Buscar documento <span class="glyphicon glyphicon-paperclip"></span>&nbsp;|&nbsp;
                    2. Subir archivo <span class="glyphicon glyphicon-open"></span>&nbsp;|&nbsp;
                    3. Click en el boton "Agregar"
                </p><br>
                <div class="panel panel-default" style="border: 0px solid transparent !important;">
                    <div class="panel-body" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="table-responsive"></div>
                        <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px !important; padding-right: 0px !important;">
                            <mat-label>Descripción del adjunto:</mat-label>
                            <input matInput [(ngModel)]="descripcion_adjunto"  placeholder="Descripción del adjunto"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p style="margin-bottom: 0"><b>Subir archivo</b></p>
                        <div class="input-group">
                            <input rel="file_2" class="form-control" placeholder="Seleccionar un archivo" readonly="" [(ngModel)]="uploader_adjunto_filename">
                            <div class="input-group-btn file-input-wrapper">
                                <input type="file" id="file_2" style="display: none;" nv-file-select="" accept="application/pdf" uploader="uploader" (change)="handleSeleccionarArchivosAdjuntos()">
                                <button class="btn-input-file  btn-primary btn-sm btn-custom" style="padding: 8px 10px !important;" type="button" tooltip="Seleccionar" onclick="document.getElementById('file_2').click()">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                </button>
                                <button class="btn-input-file  btn-primary btn-sm btn-custom" style="padding: 8px 10px !important;" type="button" tooltip="Subir archivo" (click)="subirArchivoAdjunto()">
                                    <span class="glyphicon glyphicon-open"></span>
                                </button>
                                <button class="btn-input-file  btn-primary btn-sm btn-custom" style="padding: 8px 10px !important;" type="button" tooltip="Resetear" (click)="resetearArchivoAdjunto()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                        <p *ngIf="isVisibleValidarSubirArchivoMas" style="color: #BD0F17">Debe subir el archivo</p>     
                    </div>   
                    <div class="col-md-6 col-sm-6">
                        <p>
                            <input type="submit" class="btn btn-tramite3" (click)="agregarAdjunto()" [disabled]="isDisableAgregarAdjunto" value="Agregar"/>
                            <!-- <a class="btn btn-tramite3" (click)="agregarAdjunto()"> Agregar</a> -->
                        </p>                                                                                                                       
                    </div>
                </div>
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center" style="color:white !important;background-color:#BD0F17; width:60%">Descripción del adjunto</th>
                            <th class="text-center" style="color:white !important;background-color:#BD0F17">Archivo</th>
                            <th class="text-center" style="color:white !important;background-color:#BD0F17">Acción</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="reg_adjuntos.length > 0">
                        <tr *ngFor="let item of reg_adjuntos">
                            <td>{{item.nombre}}</td>
                            <td class="text-center">
                                <span class="glyphicon glyphicon-download-alt" (click)="descargarAdjunto(item)" title="descargar adjunto"></span>
                            </td>
                            <td class="text-center">
                                <span class="glyphicon glyphicon-trash" (click)="eliminarAdjunto(item)" title="eliminar adjunto"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="reg_adjuntos.length == 0">
                        <tr>
                            <td class="text-center" colspan="4">Sin archivos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br/>
<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" type="submit" (click)="EnviarTramite()">ENVIAR TRÁMITE</button>
  <button mat-flat-button mat-dialog-close="false" color="warn">CERRAR</button>
</div>
