<form [formGroup]="myForm" autocomplete="off">
    <div id="step-1" class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
              <label class="form-control-label" for="password"> Contraseña Actual</label>
    
              <div class="input-group input-group-merge">
                <input
                  class="form-control"
                  [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
                  [type]="!hidePassword ? 'text' : 'password'"
                  id="password"
                  formControlName="password"
                />
                <div class="input-group-append">
                  <span
                  class="input-group-text"
                  [ngClass]="isInvalidField('password') ? ' is-invalid' : ''"
                >
                  <i
                    class="fas"
                    [ngClass]="!hidePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                    (click)="hidePassword = !hidePassword"
                  >
                  </i>
                </span>
                </div>
    
                <div
                  *ngIf="myForm.get('password')?.errors?.required"
                  class="invalid-feedback"
                >
                   Debe ingresar la contraseña.
                </div>
              </div>
            </div>
          </div>       
    </div>
  
    <button (click)="next()" class="btn btn-darker btn-block">Siguiente</button>
    <button (click)="cancel()" class="btn btn-outline-dark btn-block">
      Cancelar
    </button>

    </div>
  </form>
  
  
