<form [formGroup]="myForm" autocomplete="off">
    <div class="row">

        <div class="col-sm-12">
            <div class="form-group">
              <label class="form-control-label" for="rucNumber"> RUC </label>
    
              <input
                class="form-control"
                [ngClass]="isInvalidField('rucNumber') ? ' is-invalid' : ''"
                type="text"
                [maxlength]="rucNumberLength"
                id="rucNumber"
                placeholder="Ej.: 20543216789"
                formControlName="rucNumber"
                appOnlyNumbers
              />
    
              <div
                *ngIf="myForm.get('rucNumber')?.errors?.required"
                class="invalid-feedback"
              >
                 Debe ingresar el número de RUC.
              </div>
              <div
                *ngIf="
                  !myForm.get('rucNumber')?.errors?.required &&
                  myForm.get('rucNumber')?.errors?.minlength
                "
                class="invalid-feedback"
              >
                El RUC debe tener {{ rucNumberLength }} dígitos.
              </div>
              <div
                *ngIf="
                  !myForm.get('rucNumber')?.errors?.required &&
                  !myForm.get('rucNumber')?.errors?.minlength &&
                  myForm.get('rucNumber')?.errors?.startsWith
                "
                class="invalid-feedback"
              >
                El número de RUC debe iniciar con 20.
              </div>
            </div>
          </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-control-label" for="documentNumber">
            Número de documento
          </label>
  
          <input
            class="form-control"
            [ngClass]="isInvalidField('documentNumber') ? ' is-invalid' : ''"
            [maxlength]="documentNumberLength"
            type="text"
            id="documentNumber"
            placeholder="Ej.: 15234687"
            formControlName="documentNumber"
            appOnlyNumbers
          />
  
          <div
            *ngIf="myForm.get('documentNumber')?.errors?.required"
            class="invalid-feedback"
          >
            Debe ingresar el número de documento.
          </div>
          <div
            *ngIf="
              !myForm.get('documentNumber')?.errors?.required &&
              myForm.get('documentNumber')?.errors?.minlength
            "
            class="invalid-feedback"
          >
            El número de documento debe tener
            {{ documentNumberLength }} dígitos.
          </div>
        </div>
      </div>
    </div>
  
    <button (click)="guardar()" class="btn btn-darker btn-block">Recuperar contraseña</button>
    <button (click)="cancel()" class="btn btn-outline-dark btn-block">Cancelar</button>
    
  </form>
  
  

