<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<div class="container">
    <div class="formularios">
        <form [formGroup]="formRegistroPersona" (ngSubmit)="registrarPersona()">       
        <div class="form-group row" >
            <div class="col-md-12"><img src="/assets/img/logo-produce2.png"><br><br><br></div>
            <h2 align="center">Crea una cuenta de Personal</h2>
            <p align="center">Regístrese y use esta cuenta para acceder a todas las aplicaciones,
                comunidades, soporte y más del Ministerio de Producción.<br><br></p>
            <div class="group-input">
                <mat-form-field class="col-xs-12 col-sm-6 col-md-6 col-lg-6" appearance="fill">
                    <mat-label>Tipo documento (*)</mat-label>
                    <mat-select (selectionChange)="fnChangeTipoDocumento($event.value)"    
                    matInput  formControlName="tipoDocumento"  >
                    <mat-option value=0>--Seleccionar--</mat-option>
                    <mat-option matTooltip = {{p.vDescripcion}} matTooltipPosition="right"
                    [value]="p.value" *ngFor="let p of listaTipoDocumento">
                        {{p.label}}</mat-option>
                    </mat-select>  
                    <mat-error *ngIf="tipoDocumentoErrors">{{ tipoDocumentoErrors }}</mat-error>                 
                </mat-form-field>  

                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="codigoTipoDocumento==='dni'">
                    <mat-label>Número de documento (*)</mat-label>
                    <input matInput minlength={{longitudDocumento}} maxlength={{longitudDocumento}} (keypress)="numberOnly($event)" 
                    placeholder="Ingresar número de documento" formControlName="nroDocPerNatural"  />
                    <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="fnBtnPersonaBuscar()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="nroDocPerNaturalErrors">{{ nroDocPerNaturalErrors }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="codigoTipoDocumento!=='dni'">
                    <mat-label>Número de documento (*)</mat-label>
                    <input matInput minlength=9 maxlength={{longitudDocumento}} placeholder="Ingresar número de documento" formControlName="nroDocPerNatural"/>
                    <mat-error *ngIf="nroDocPerNaturalErrors">{{ nroDocPerNaturalErrors }}</mat-error>
                </mat-form-field>

                <ng-template [ngIf]="noEsRUC" [ngIfElse]="esRUC">
                    <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-label>Nombres (*)</mat-label>
                        <input matInput placeholder="Campo autocompletado con DNI" maxlength="200"
                        formControlName="nombres" readonly />
                        <mat-error *ngIf="nombresErrors">{{ nombresErrors }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-label>Apellidos (*)</mat-label>
                        <input matInput placeholder="Campo autocompletado con DNI" maxlength="200"
                        formControlName="apellidos" readonly />
                        <mat-error *ngIf="apellidosErrors">{{ apellidosErrors }}</mat-error>
                    </mat-form-field>
                </ng-template>
                <ng-template #esRUC>
                    <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <mat-label>Razon Social (*)</mat-label>
                        <input matInput placeholder="Campo autocompletado con RUC" maxlength="500"
                        formControlName="razonSocial" readonly />
                        <mat-error *ngIf="razonSocialErrors">{{ razonSocialErrors }}</mat-error>
                    </mat-form-field>
                </ng-template>
                <mat-form-field class="col-xs-12 col-sm-6 col-md-6 col-lg-6" appearance="fill">
                    <mat-label>Departamento (*)</mat-label>
                    <mat-select matInput  formControlName="departamento"  >
                        <mat-option value=0>--Seleccionar--</mat-option>
                        <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                        [value]="p.value" *ngFor="let p of listaDepartamentos">
                            {{p.text}}</mat-option>
                    </mat-select>  
                    <mat-error *ngIf="departamentoErrors">{{ departamentoErrors }}</mat-error>                 
                </mat-form-field>  
                <mat-form-field class="col-xs-12 col-sm-6 col-md-6 col-lg-6" appearance="fill">
                    <mat-label>Provincia (*)</mat-label>
                    <mat-select matInput  formControlName="provincia"  >
                        <mat-option value=0>--Seleccionar--</mat-option>
                        <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                        [value]="p.value" *ngFor="let p of listaProvincias">
                            {{p.text}}</mat-option>
                    </mat-select>  
                    <mat-error *ngIf="provinciaErrors">{{ provinciaErrors }}</mat-error>                 
                </mat-form-field>  
                <mat-form-field class="col-xs-12 col-sm-6 col-md-6 col-lg-6" appearance="fill">
                    <mat-label>Distrito (*)</mat-label>
                    <mat-select matInput  formControlName="distrito"  >
                        <mat-option value=0>--Seleccionar--</mat-option>
                        <mat-option matTooltip = {{p.text}} matTooltipPosition="right"
                        [value]="p.value" *ngFor="let p of listaDistritos">
                            {{p.text}}</mat-option>
                    </mat-select>  
                    <mat-error *ngIf="distritoErrors">{{ distritoErrors }}</mat-error>                 
                </mat-form-field>  
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Celular (*)</mat-label>
                    <input matInput placeholder="Ingresar número de celular" maxlength="9"
                    formControlName="celular" />
                    <mat-error *ngIf="celularErrors">{{ celularErrors }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Correo electrónico (*)</mat-label>
                    <input matInput placeholder="Ingresar correo electrónico" maxlength="100"
                    formControlName="correo" />
                    <mat-error *ngIf="correoErrors">{{ correoErrors }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Contraseña (*)</mat-label>
                    <input type="password" matInput placeholder="Ingresar contraseña"
                    formControlName="contrasena" />
                    <mat-error *ngIf="contrasenaErrors">{{ contrasenaErrors }}</mat-error>
                    <mat-hint style="color: #9B9B9B">Usa 8 o más caracteres con una combinación de letras, números y símbolos</mat-hint>   
                </mat-form-field>
                <div appearance="legacy" style="padding-top: 16px;">
                    <label class="col-sm-6" appearance="legacy" style="padding-top: 16px;">¿Usted tiene un RUC de Persona Natural? </label>
                    <mat-radio-group formControlName="tieneRuc" class="col-sm-6" appearance="legacy" style="padding-top: 16px;">
                        <mat-radio-button value="true" (change)="onChangeTieneRuc($event.value)">Si&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="false" (change)="onChangeTieneRuc($event.value)">NO&nbsp;</mat-radio-button>   
                    </mat-radio-group>
                    <div class="col-sm-12" appearance="legacy" style="font-size: 75%;">
                        <mat-error *ngIf="tieneRucErrors">{{ tieneRucErrors }}</mat-error>      
                    </div>
                    <br>
                </div>
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="!isHidden">
                    <mat-label>RUC de persona natural (*)</mat-label>
                    <input matInput placeholder="Ingresar RUC de persona natural" formControlName="numeroDocumento"  
                    maxlength="11" (keypress)="numberOnly($event)"/>
                    <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="fnBtnRUCBuscar()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="numeroDocumentoErrors">{{ numeroDocumentoErrors }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!isHidden">
                    <mat-label>Razon Social (*)</mat-label>
                    <input matInput placeholder="Campo autocompletado con RUC" maxlength="500"
                    formControlName="razonSocial" readonly />
                    <mat-error *ngIf="razonSocialErrors">{{ razonSocialErrors }}</mat-error>
                  </mat-form-field>
                <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="linea">Sexo</label>
                    <app-select [items]="listaSexo" [(Model)]="form.Sexo" [disabled]="disabled"></app-select>
                </div> -->

            </div>
        </div>
        <div class="form-group row">
            <div appearance="fill" class="col-xs-12 col-md-12 col-sm-12 col-lg-12" #controlTerms1>
                <mat-checkbox class="check" formControlName="terminos" #elemTerms> </mat-checkbox>
                &nbsp; Acepta los <span style="color: #157BDF">términos, condiciones y
                    políticas de privacidad de tu persona</span>
                    <mat-error *ngIf="terminosErrors">{{ terminosErrors }}</mat-error>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <!-- <input type="button" class="btn btn-tramite2" (click)="fnBtnRegistrar()" value="Regístrate" /> -->
                <input type="submit" class="btn btn-tramite2" value="Regístrate" />
            </div>
        </div>
        </form>
        <div class="form-group row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" align="center">
                ¿Ya tienes cuenta de persona? <a [routerLink]="['/sesion-persona']">¡Ingresa aquí!</a>
            </div>
        </div>
    </div>
</div>