<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<body class="align">
    <div class="login">
      <header class="login__header">
        <div class="logo-produce">
          <img src="../../assets/img/logo_produce.PNG" alt="Logo" title="Logo">
        </div>  
        <div class="logo-aplicacion">
          <img [src]="urlArchivo" alt="archivo"  width="138">
          <!--<img src="../../assets/img/logo_vusp.png" alt="Logo" title="Logo" width="138">-->
        </div>
        <h2 style="text-align: center; font-size: 26px;">REGISTRATE</h2>
        <p style="text-align: center; font-size: 20px; font-family:'plutosanslight';">Persona Jurídica</p>
          <div class="Pasos">
            <button class="buttonPaso" (click)="clickPaso1()" >1</button>
            <button class="buttonPaso"  [ngClass]="ispaso2 === true  ? 'disabled' : 'null'" (click)="clickPaso2()" >2</button>
            <button class="buttonPaso"  [ngClass]="ispaso3 === true  ? 'disabled' : 'null'" (click)="clickPaso3()" >3</button>
            <button class="buttonPaso"  [ngClass]="ispaso4 === true  ? 'disabled' : 'null'" (click)="clickPaso4()" >4</button>
          </div>
    </header>

    <form class="login__form" >     
    <div *ngIf="isVisiblePaso1">
      <h3 class="center" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 700;">DATOS EMPRESA</h3>
      <div>
          <label for="ruc" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">RUC</label>
          <input type="text" id="ruc" name="ruc" placeholder="Ej. : 20543216789"  [(ngModel)]="ruc" (change)="changeRuc()"  maxlength="11" (blur)="btnBuscarRUC()" (keypress)="restrictNumeric($event)" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p class="validador" *ngIf="validadorRuc" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar el RUC.</p>
          <p class="validador" *ngIf="validadorRucDigitos" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">El RUC debe tener 11 digitos.</p>
        </div>
      
       <div>
        <label for="razonSocial" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">RAZÓN SOCIAL</label>
        <input type="text" id="razonSocial" name="razonSocial" placeholder="Ej. : Base - Base Corporation" [(ngModel)]="razonSocial" (change)="changeRazonSocial()" maxlength="300" disabled style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
        <p  class="validador" *ngIf="validadorRazonSocial" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar la razón social.</p>
      </div>

      <div>
        <label for="direccion" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">DIRECCIÓN</label>
        <input type="text" id="direccion" name="direccion" placeholder="Ej. : Calle C 3517 , Lima"  [(ngModel)]="direccion" (change)="changeDireccion()"  maxlength="300" disabled style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
        <p  class="validador" *ngIf="validadorDireccion" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar la dirección.</p>
      </div>

      <div>
        <button class="buttonSiguiente" (click)="clickPaso2()">Siguiente</button>
        <button class="buttonCancelar" (click)="clickCancelar()">Cancelar</button>
      </div>

    </div>


    <div *ngIf="isVisiblePaso2">

      <h3 class="center" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 700;">DATOS REPRESENTANTE LEGAL</h3>

       <div class="column">
          <div class="left">
              <label for="tipoDoc" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">TIPO DOCUMENTO</label>
              <select type="tipoDoc" name="select" placeholder="Seleccionar" [(ngModel)]="tipoDoc" (change)="changeTipoDocumento()" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
                <option value="0">--Seleccionar--</option>
                <option value="1">DNI</option>
                <option value="2">Carnet de Extranjería</option>
                </select>
                <p class="validador" *ngIf="validadorTipoDocumento" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar el tipo de documento.</p>
          </div>    

          <div class="right">
              <label for="numeroDoc" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">NÚMERO DOCUMENTO</label>
              <input type="text" id="numeroDoc" name="numeroDoc" placeholder="Ej.:15234687" [(ngModel)]="numeroDoc" (change)="changeNroDocumento()" maxlength="12" (blur)="btnBuscarDNI()" [disabled]="isDisableNroDocumento" (keypress)="restrictNumeric($event)" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
              <p class="validador" *ngIf="validadorNroDocumento" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar el número de documento.</p>
            </div>
      </div>
  
        <div>
          <label for="apellidos" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">APELLIDOS</label>
          <input type="text" id="apellidos" name="apellidos" placeholder="Ejm:Flores Sánchez" [(ngModel)]="apellidos" (change)="changeApellidos()" maxlength="150" disabled style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p  class="validador" *ngIf="validadorApellidos" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar los apellidos.</p>
        </div>
  
        <div>
          <label for="nombres" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">NOMBRES</label>
          <input type="text" id="nombres" name="nombres" placeholder="Ej.:Camila" [(ngModel)]="nombres" (change)="changeNombres()" maxlength="150" disabled style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p class="validador" *ngIf="validadorNombres" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar los nombres.</p>
        </div>

        <div>
          <button class="buttonSiguiente" (click)="clickPaso3()">Siguiente</button>
          <button class="buttonCancelar" (click)="clickPaso1()">Regresar</button>
        </div>

    </div>

    <div *ngIf="isVisiblePaso3">

        <h3 class="center" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 700;">DATOS DE CONTACTO</h3>

        <div>
          <label for="celular" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">CELULAR</label>
          <input type="text" id="celular" name="celular" placeholder="Ej.:999123045" maxlength="9" [(ngModel)]="celular" (change)="changeCelular()" (keypress)="restrictNumeric($event)" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p class="validador" *ngIf="validadorCelular" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar el celular.</p>
          <p class="validador" *ngIf="validadorCelularLength" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">El celular debe contener 9 digitos</p>
        </div>
  
        <div>
          <label for="correo" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">CORREO</label>
          <input type="text" id="correo" name="correo" placeholder="Ej.:camila.flores@ejemplo.com" [(ngModel)]="correo" (change)="changeCorreo()" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p class="validador" *ngIf="validadorCorreo" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar el correo.</p>
          <p class="validador" *ngIf="validadorCorreoInvalido" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Correo inválido.</p> 
        </div>
  
        <div>
          <label for="correo_rep" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">REPETIR CORREO</label>
          <input type="text" id="correo_rep" name="correo_rep" placeholder="Ej.:camila.flores@ejemplo.com" [(ngModel)]="correo_rep" (change)="changeCorreoRep()" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">
          <p class="validador" *ngIf="validadorCorreoRep || validadorCorreoRepetir" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">No coincide con el correo ingresado. </p>
        </div>

        <div>
          <button class="buttonSiguiente" (click)="clickPaso4()">Siguiente</button>
          <button class="buttonCancelar" (click)="clickPaso2()">Regresar</button>
        </div>

      </div>
  

      <div *ngIf="isVisiblePaso4">
        <div>
          <div class="input-wrapper">
            <label for="contrasena" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">CONTRASEÑA</label>
            <input type="password"  id="contrasena" name="contrasena" placeholder="" [(ngModel)]="contrasena" (change)="changeContrasena()" maxlength="150" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">      
            <img src="../../assets/img/ver_on.png" (click)="mostrarContrasena()" id="eyeContrasena" class="input-icon password">
          </div>
          <p class="validador" *ngIf="validadorContrasena" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Debe ingresar la contraseña.</p>
          <p class="validador" *ngIf="validadorRequisitosContrasena" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">La contraseña debe cumplir con los requistos</p>
        </div>
  
        <div>
          <div class="input-wrapper">
            <label for="contrasena_rep" style="color: rgba(88, 89, 91, 0.8);font-size:13px; font-family:'plutosansregular'; font-weight: 400;">REPETIR CONTRASEÑA</label>
            <input type="password"  id="contrasena_rep" name="contrasena_rep" placeholder="" [(ngModel)]="contrasena_rep" (change)="changeContrasenaRep()" maxlength="150" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 400; color: rgba(88, 89, 91, 0.8);">      
            <img src="../../assets/img/ver_on.png" (click)="mostrarContrasenaRepe()" id="eyeContrasena_rep" class="input-icon password">
          </div>
        <p class="validador" *ngIf="validadorContrasenaRep || validadorContrasenaRepetir" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">No coincide con la contraseña ingresada.</p>
        </div>
  
        <div class="column">
            <div class="left">
              <label class="radio" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 400;">Al menos un simbolo
               <input type="radio"  name="radioSimbolo" [checked]="ValidadorSimbolo" disabled style="width: 10%;">
               <span class="checkradio"></span>
              </label>
           </div>
            
            <div class="right">
              <label class="radio" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 400;">Al menos un número
               <input type="radio"  name="radioNumero" [checked]="ValidadorNumeros" disabled style="width: 10%;">
               <span class="checkradio"></span>
              </label>
           </div>
         </div>
    
    
         <div class="columnRadio">
          <div class="left">
            <label class="radio" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 400;">Al menos una mayúscula
             <input type="radio"  name="radioMayus" [checked]="ValidadorMayuscula" disabled style="width: 10%;">
             <span class="checkradio"></span>
            </label>
         </div>
          
          <div class="right">
            <label class="radio" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 400;">Más de 8 digitos
             <input type="radio"  name="radioDigitos" [checked]="Validador8Digitos" disabled style="width: 10%;">
             <span class="checkradio"></span>
            </label>
         </div>
       </div>


       <label class="check" id="c1" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 300; padding-bottom: 5px;">Acepto los términos y la <a href="#" style="color: rgba(0, 0, 0, 1);">Política de Protección de Datos</a>
        <input type="checkbox" name="terminos_politica" [(ngModel)]="terminos_politica"  (change)="changeTerminos()">
        <span class="checkmark"></span>
      </label>

      <label class="check" id="c1" style="color: rgba(88, 89, 91, 0.8);font-family:'plutosanslight'; font-size: 10px; font-weight: 300;">Acepto los términos y la mensajeria
        <input type="checkbox" name="terminos_mensajeria" [(ngModel)]="terminos_mensajeria"  (change)="changeTerminos()" >
        <span class="checkmark"></span>
      </label>
      <p class="validador" *ngIf="validadorTerminos" style="color: rgba(230, 0, 0, 0.8);font-family:'plutosanslight'; font-size: 11px; font-weight: 400;">Marcar los términos y condiciones.</p>
       
        <div>
          <button class="buttonSiguiente" (click)="registroEmpresaService()">Registrar</button>
          <button class="buttonCancelar" (click)="clickPaso3()">Regresar</button>
        </div>

      </div>
    
  
      <div class="footer">
        <p style="color: rgba(88, 89, 91, 0.8); font-family: 'plutosansregular';font-size: 13px; font-weight: 300">¿Ya tienes una cuenta?</p>  
        <a href="/sesion-empresa?id_aplicacion={{ id_aplicacion }}" style="font-family: 'plutosansregular';font-size: 13px; font-weight: 500; color: #000000; background-color: white !important;">Ingresa aquí</a>
      </div>
      
      </form>
    </div>
  
  </body>
  
