<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<body class="align">
    <div class="login">
      <header class="login__header">
        <div class="logo-produce">
          <img src="../../assets/img/logo_produce.PNG" alt="Logo" title="Logo" width="138">
        </div>  
        <div class="logo-aplicacion">
          <img [src]="urlArchivo" alt="archivo"  width="138">
          <!--<img src="../../assets/img/logo_vusp.png" alt="Logo" title="Logo" width="138">-->
        </div>
        <div class="title" *ngIf="!validaSuccess">
          <h2 align="center">Recuperar contraseña</h2>
          <p>Persona Natural</p>
        </div>         
    </header>

      <form action="#" class="login__form" method="POST"> 
        <div  *ngIf="!validaSuccess">
          <div>
            <label for="numeroDoc">NÚMERO DE DOCUMENTO</label>
            <input type="text" id="numeroDoc" name="numeroDoc"  [(ngModel)]="numeroDocumento" placeholder="Ej.:15234687" (change)="changeNroDocumento()"  (keypress)="restrictNumeric($event)" maxlength="12">
            <p class="validador" *ngIf="validarNroDocumento">Debe ingresar el número de documento.</p>
        </div>
  
   
        <div>
          <label for="correo">CORREO ELECTRONICO</label>
          <input type="text" id="correo" name="correo"  [(ngModel)]="email" placeholder="Ej.:camila.flores@ejemplo.com" (change)="changeEmail()">
          <p class="validador" *ngIf="validarEmail">Debe ingresar el correo electronico.</p>
        </div>
  
      <div>
        <button class="buttonSiguiente" (click)="fnBtnRecuperarContrasena()">Recuperar contraseña</button>    
      </div>

      <div class="footer">
        <p>¿No tienes una cuenta de persona?</p>  
        <a href="/registro-persona?id_aplicacion={{ id_aplicacion }}">Crea una ahora</a>
      </div>
        </div>             
          

        <div *ngIf="validaSuccess">
          <h3>¡Listo!</h3>
          <p>Se te ha enviado un link a tu correo registrado</p>
          <div>
            <button class="buttonSiguiente" (click)="clickCancelar()">Ir a inicio</button> 
          </div>
        </div>
        
  
      </form>
    </div>

  </body>
  
