<div class="col-md-12">
    <h3 style="color: #c92329">Mis trámites</h3>
    <p>Te permite estar enterado de todos los trámites que tienes con el Ministerio de la Producción en tiempo real, así
        mismo te brinda distintos criterios de búsqueda con los cuales podrás encontrar el/los documento(s) que te
        interesa(n), de esta manera te ayudamos a reducir tus costos y/o a una mejor administración de tu valioso
        tiempo.</p>
    <hr>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Buscar trámite</h3>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <!-- <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Tipo de documento</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>-- Todos --</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Estado</label>
                            <div class="col-sm-8">
                                <select class="form-control" [(ngModel)]="form.idEstadoSolicitud">
                                    <option value="0">-- Todos --</option>
                                    <option value="1">En trámite</option>
                                    <option value="10">Atendido</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Fecha de inicio</label>
                            <div class="col-sm-8">
                              <app-datepicker [(Model)]="form.fechaInicio"></app-datepicker>

                                <!-- <div class="input-group">
                                    <input type="text" class="form-control" placeholder="3/07/2018">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar fa-lg"
                                                aria-hidden="true"></i></button>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Fecha de fin</label>
                            <div class="col-sm-8">
                              <app-datepicker [(Model)]="form.fechaFin"></app-datepicker>



                                <!-- <div class="input-group">
                                    <input type="text" class="form-control" placeholder="3/07/2018">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar fa-lg"
                                                aria-hidden="true"></i></button>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="button" class="btn  btn-primary-custom" (click)="fnSolitiudListar()"><i class="fa fa-search" aria-hidden="true"></i>
                Buscar</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-custom">
                    <thead>
                        <tr>
                            <th>Entidad</th>
                            <th>Nro. Expediente</th>
                            <th>Fecha</th>
                            <th>Clave</th>
                            <th>Asunto</th>
                            <th>Dependencia</th>
                            <th>Estado</th>
                            <th>Ver Flujo</th>
                            <th>Ver Solicitud (PDF)</th>
                            <th>Ver adjuntos</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let solicitud of listaSolicitudes" >
                            <tr>
                                <td>{{solicitud.dependenciaPrincipal}}</td>
                                <td>{{solicitud.numTramDocumentario}}</td>
                                <td>{{solicitud.fechaRegistroExpediente}}</td>
                                <td>{{solicitud.clave}}</td>
                                <td [innerHTML]="fnSafeHTML(solicitud.descripcionTupa)"></td>
                                <td>{{solicitud.dependencia}}</td>
                                <td class="text-center">
                                    <div *ngIf="solicitud.idEstadoDocumento == 1 || solicitud.idEstadoDocumento == 8">
                                        <span class="label label-success">En trámite</span>
                                    </div>
                                    <div *ngIf="solicitud.idEstadoDocumento == 4" class="text-center">-</div>
                                    <div *ngIf="solicitud.idEstadoDocumento == 10">
                                        <span class="label label-warning">Atendido</span>
                                    </div>
                                </td>
                                <!-- <td class="text-center"><span [ngClass]="{'': step=='1', 'label label-warning':step=='10', 'label label-danger':step=='4' }">{{solicitud.estadoSolicitud}}</span></td> -->
                                <td class="text-center"><i class="fa fa-bars" style="cursor: pointer;" (click)="fnAbrirFlujo($event,solicitud)"></i></td>
                                <td class="text-center"><i class="fa fa-file-pdf-o" style="cursor: pointer;" (click)="fnVerPDF($event,solicitud)"></i></td>
                                <td class="text-center"><i class="fa fa-file-text-o" style="cursor: pointer;" (click)="fnAbrirDetalle($event,solicitud)"></i></td>
                                <td class="text-center">
                                    <p *ngIf="solicitud.idEstadoDocumento == 1 && solicitud.idAnexo == 0" tooltip="Enviar adjunto o levantar observación">
                                        <i class="fa fa-external-link" style="cursor: pointer;" (click)="fnAbrirModalAdjuntosObservaciones(solicitud)"></i>
                                    </p>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-default" (click)="fnBtnPaginado(1)" title="First page of results"><i
                            class="fa fa-angle-double-left"></i></button>
                    <button class="btn btn-default" (click)="fnBtnPaginado(2)" title="Previous page of results"><i
                            class="fa fa-angle-left"></i></button>
                </div>
                <div class="col-md-6">
                    <div class="text-center" id="PageInfo">
                        <p class="small">Página {{page}} de {{lastPage}}</p>
                        <!-- <div class="form-inline">
                            <span class="small">Visualizando</span>
                            <select class="form-control input-sm">
                                <option>5</option>
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                            </select>
                            <span class="small">por página</span>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-default" (click)="fnBtnPaginado(3)" title="Next page of results"><i
                            class="fa fa-angle-right"></i></button>
                    <button class="btn btn-default" (click)="fnBtnPaginado(4)" title="Last page of results"><i
                            class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
