<body class="align">
 <div class="form"> 
     <div class="header">
      <div class="circle"> 
        <div class="circleEditar"> 
            <img src="../../assets/img/icono_editar.png" alt="Editar" title="Editar" width="20">
        </div> 
      </div>        
      <div class="title">
        <h3>Mi perfil</h3>
        <p>Persona Natural</p>    
    </div>
  </div>
       <div class="personal">
         <h5>Información personal</h5>
            <p>DNI</p>
            <p>Nombres y apellidos</p>
            <p>Dirección</p>
          </div>

        <div class="contacto">
        <h5>Información de contacto         
          <img src="../../assets/img/icono_editar.png" alt="Editar" title="Editar" width="20">
        </h5>
            <p>Celular</p>
            <p>Correo</p>
        </div>

        <div>
          <label for="apellidos">Celular</label>
          <input type="text" id="apellidos" name="apellidos" placeholder="Ej.:999123045"  maxlength="150" >
          <p  class="validador" >Debe ingresar el celular.</p>
        </div>
        <div>
          <label for="nombres">Correo</label>
          <input type="text" id="nombres" name="nombres" placeholder="Ej.:camila.flores@ejemplo.com" maxlength="150" >
          <p class="validador" >Debe ingresar el correo.</p>
        </div>
        <div class="button">
          <button class="buttonSiguiente">Guardar cambios</button>
          <button class="buttonCancelar">Cancelar</button>
        </div>

        <div class="editar">
          <h3>Editar foto</h3>
          <div class="circle"> 
            <div class="circleEditar"> 
            </div> 
          </div>    
           <a href="#">Seleccionar foto</a>
        </div>

        <div class="button">
          <button class="buttonSiguiente">Guardar cambios</button>
          <button class="buttonCancelar">Cancelar</button>
        </div>
  </div>
</body>


