
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
    </ngx-spinner>
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto">Modificar usuario</h2>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>
    <div mat-dialog-content class="mt-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive"></div>
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-label>N° Documento</mat-label>
                    <input matInput [(ngModel)]="nro_documento" placeholder="N° Documento" readonly/>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Nombres</mat-label>
                    <input matInput [(ngModel)]="nombres" placeholder="Nombres" readonly/>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Apellidos</mat-label>
                    <input matInput [(ngModel)]="apellidos" placeholder="Apellidos" readonly/>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Correo</mat-label>
                    <input matInput [(ngModel)]="correo" placeholder="Correo"/>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-label>Teléfono</mat-label>
                    <input matInput [(ngModel)]="telefono" placeholder="Teléfono" />
                </mat-form-field>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b>USUARIO ACTIVO: </b><input type="checkbox" [(ngModel)]="estado_act_desac"><br><br>
                    <b>IMPORTANTE:</b> Si desactiva esta opción el usuario ya no ingresará a Produce Virtual con su empresa.
                </div>
            </div>
      </div>
    </div>
    
    <br/>
    <div mat-dialog-actions align="center">
      <button mat-flat-button color="primary" type="submit" (click)="CambiarEstadoActDesact()">Aceptar</button>
      <button mat-flat-button mat-dialog-close="false" color="warn">Cerrar</button>
    </div>
    