@font-face {
  font-family: 'icontramite';
  src:  url('icontramite.eot?l9fgaq');
  src:  url('icontramite.eot?l9fgaq#iefix') format('embedded-opentype'),
    url('icontramite.ttf?l9fgaq') format('truetype'),
    url('icontramite.woff?l9fgaq') format('woff'),
    url('icontramite.svg?l9fgaq#icontramite') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icontramite' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-files-empty:before {
  content: "\e925";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-download:before {
  content: "\e960";
}
.icon-users:before {
  content: "\e972";
}
.icon-download3:before {
  content: "\e9c7";
}
