<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<body class="align">
    <div class="login">
      <header class="login__header">
        <div class="logo-produce">
          <img src="../../assets/img/logo_produce.PNG" alt="Logo" title="Logo" width="138">
        </div>  
        <div class="logo-aplicacion">
          <img [src]="urlArchivo" alt="archivo"  width="138">
          <!--<img src="../../assets/img/logo_vusp.png" alt="Logo" title="Logo" width="138">-->
        </div>
          <h2 align="center" >Inicio de Sesión</h2>
          <p>Persona Jurídica</p>
    </header>

      <form class="login__form" >      
        <div>
             <label for="ruc">N° de RUC del cliente</label>
            <input type="text" id="ruc" name="ruc"  [(ngModel)]="ruc"  placeholder="Ej.:10152346872" maxlength="11" (change)="changeRuc()" (keypress)="restrictNumeric($event)">
            <p class="validador" *ngIf="validadorRuc">Debe ingresar el número de RUC.</p>
            <p class="validador" *ngIf="validadorRucDigitos">El RUC debe tener 11 digitos.</p>
        </div>
    
          <div>
              <label for="numeroDoc">NÚMERO DOCUMENTO</label>
              <input type="text" id="numeroDoc" name="numeroDoc" [(ngModel)]="numero_documento"  placeholder="Ej.:15234687" (change)="changeNroDocumento()"  (keypress)="restrictNumeric($event)" maxlength="12">
              <p class="validador" *ngIf="validadorNroDocumento">Debe ingresar el número de documento.</p>
          </div>
    
          <div>
          <div class="input-wrapper">
            <label for="contrasena">CONTRASEÑA</label>
            <input type="password"  id="contrasena" name="contrasena" placeholder="" [(ngModel)]="contrasena" (change)="changeContrasena()" maxlength="150" >      
            <img src="../../assets/img/ver_on.png" (click)="mostrarContrasena()" id="eyeContrasena" class="input-icon password">
          </div>
          <p class="validador" *ngIf="validadorContrasena">Debe ingresar la contraseña.</p>
        </div>

        <div class="align-right">
          <a href="/recuperar-contrasena-empresa?id_aplicacion={{ id_aplicacion }}">Recuperar contraseña</a>
        </div>
        
        <div>
          <button class="buttonSiguiente" (click)="iniciarSesionPersonaJuridica()" >Ingresar</button>    
          <button class="buttonCancelar"  (click)="CancelarSesion()">Cancelar</button>
        </div>
  
        <div class="footer">
          <p>¿No tienes una cuenta de empresa?</p>  
          <a href="/registro-empresa?id_aplicacion={{ id_aplicacion }}">Crea una ahora</a>
        </div>
  
      </form>
    </div>
  
  </body>
  

