<div class="container">
    <form [formGroup]="form" (ngSubmit)="fnBtnRecuperarContrasena()">
        <div class="formularios">
            <div class="col-md-12"><img src="/assets/img/logo-produce2.png"><br><br><br></div>
            <h2 align="center">Recuperar contraseña cuenta Empresa</h2><br><br><br>
            <div class="form-group row">
                <!-- <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <label for="linea">RUC o correo electrónico</label>
                    <input name="" type="text"
                        class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id=""
                        placeholder="Ingresar RUC10, RUC15 o correo eletrónico" maxlength="500" ng-model="">
                </div> -->
                <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-label>Número de RUC (*)</mat-label>
                <input
                  matInput
                  placeholder="Ingresar su RUC"
                  maxlength="11"
                  formControlName="numeroDocumento"
                  (keypress)="numberOnly($event)"
                />
                <mat-error *ngIf="numeroDocumentoErrors">{{ numeroDocumentoErrors }}</mat-error>
              </mat-form-field>
              <!-- <mat-form-field appearance="fill" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-label>Número de DNI/CE (*)</mat-label>
                <input
                  matInput
                  placeholder="Ingresar su DNI/CE"
                  maxlength="11"
                  formControlName="nroDocPerNatural"
                />
                <mat-error *ngIf="nroDocPerNaturalErrors">{{ nroDocPerNaturalErrors }}</mat-error>
              </mat-form-field> -->
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <input type="submit" class="btn btn-tramite2" value="Recuperar" />
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <input type="button" (click)="fnGoToPrincipal()" class="btn btn-tramite2" value="Regresar" style="color: #fff;
                    background-color: #666;
                    border-color: #666;
                    border-radius: 4px;" />
                </div>
            </div>
        </div>
    </form>
</div>