<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Procesando información, por favor no cierre la ventana.</p>
</ngx-spinner>
<body class="align">
    <div class="login">     
      <header class="login__header">
        <div class="logo-produce">
          <img src="../../assets/img/logo_produce.PNG" alt="Logo" title="Logo" width="138">
        </div>  
        <div class="logo-aplicacion">
          <img [src]="urlArchivo" alt="archivo"  width="138">
          <!--<img src="../../assets/img/logo_vusp.png" alt="Logo" title="Logo" width="138">-->
        </div>
        <div class="title" *ngIf="!validaSuccess">
          <h3>Recuperar contraseña</h3>
          <p>Persona Jurídica</p>
        </div>         
      </header>  
      <form class="login__form">     
        <div *ngIf="!validaSuccess">
          <div>
            <label for="ruc">RUC</label>
            <input type="text" id="ruc" name="ruc" [(ngModel)]="numeroDocumento" placeholder="Ej.:10152346872"  maxlength="11" (change)="changeRuc()" (keypress)="restrictNumeric($event)">
            <p class="validador" *ngIf="validarRuc">Debe ingresar el número de RUC.</p>
         </div>
          <!-- <div>
              <label for="numeroDoc">NÚMERO DE DOCUMENTO</label>
              <input type="text" id="numeroDoc" name="numeroDoc" placeholder="Ej.:15234687">
          </div> -->
      
        <div>
          <button class="buttonSiguiente" (click)="fnBtnRecuperarContrasena()">Recuperar contraseña</button>    
        </div>
  
        <div class="footer">
          <p>¿No tienes una cuenta de empresa?</p>  
          <a href="/registro-empresa?id_aplicacion={{ id_aplicacion }}">Crea una ahora</a>
        </div>
        </div> 
        


        <div *ngIf="validaSuccess">
          <h3>¡Listo!</h3>
          <p>Se te ha enviado un link a tu correo registrado</p>
        </div>
        
  
      </form>
    </div>

  </body>
  
