@font-face {
  font-family: 'iconAtencion';
  src:  url('iconAtencion.eot?qq10wp');
  src:  url('iconAtencion.eot?qq10wp#iefix') format('embedded-opentype'),
    url('iconAtencion.ttf?qq10wp') format('truetype'),
    url('iconAtencion.woff?qq10wp') format('woff'),
    url('iconAtencion.svg?qq10wp#iconAtencion') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconAtencion' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-consultas:before {
  content: "\e900";
}
.icon-denuncias:before {
  content: "\e901";
}
.icon-preguntas:before {
  content: "\e902";
}
.icon-quejas:before {
  content: "\e903";
}
.icon-reclamaciones:before {
  content: "\e904";
}
.icon-sugerencias:before {
  content: "\e905";
}
